#footer {
    background-color: lightslategray;
    position: fixed;
    min-height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: lightcyan;
    text-align: center;
}

body {background-color: lightcyan;}
h1 {color: lightslategray;}